[2019-05-27 13:01] mirceaulinic opened #12 "Verify if the target matches the cached PKI keys on the Master when no Roster was specified"

[2019-05-29 21:15] mirceaulinic opened #18 "Execute the commands on existing Proxies whenever available"
Also, have another CLI and config file option to bypass this behaviour.

[2019-06-03 14:31] #18 closed, assigned to nobody

[2019-06-03 17:16] mirceaulinic opened #20 "Add option to execute test.ping before attempting to execute on the existing Proxy"
In case the device is unresponsive, go ahead and execute locally. The option should however default to false as it may generate too many events.

[2019-06-14 10:48] mirceaulinic opened #24 "Add --no-connect optional arg to skip establishing a connection"
This would be useful when executing Salt commands that don't necessarily require the connection with the device itself, e.g., HTTP requests etc., while they may need Grains or other device-specific that could be already cached.

[2019-06-26 14:29] mirceaulinic opened #33 "Move all the proxy Runner args into an opts kwarg"
I'm afraid in this configuration it may clash with other kwargs the function invoked might have.

[2019-06-27 11:34] #24 closed

[2019-06-27 13:07] mirceaulinic opened #34 "Use the timeout option to wait for the device reply only X seconds"

[2019-07-05 07:38] mirceaulinic opened #36 "Add --summary CLI option"
Similar to the usual Salt ``--summary`` CLI option.

[2019-07-05 07:53] mirceaulinic opened #37 "Implement the --failhard CLI option"
The option exists, however currently ignored. Might be a good idea to implement it.

[code]

[2019-07-30 08:40] #20 closed

[2019-07-30 10:09] mirceaulinic opened #38 "Implement target cache"

[2019-08-06 09:22] zacho112 opened #40 "The netbox execution module cannot be loaded: pynetbox library is not installed."
**Describe the bug**
Issue with the Netbox Roster, pynetbox is not installed according to salt-sproxy.

**Steps To Reproduce**
Steps to reproduce the behavior:

Follow this guide: https://salt-sproxy.readthedocs.io/en/latest/examples/netbox.html

Running on Ubuntu 18.04.2 LTS

Run: `salt-sproxy '*' --preview-target -c /root/ -l debug`

**Expected behavior**
Output of devices

**Versions Report**
P

[2019-08-14 12:26] mirceaulinic commented on #38
Implemented in #42.

[2019-08-14 12:26] #38 closed

[2019-09-30 09:27] #12 closed

[2019-09-30 09:28] mirceaulinic commented on #40
Should have been resolved via https://github.com/mirceaulinic/salt-sproxy/pull/43, please reopen otherwise.

[2019-09-30 09:28] #40 closed

[2019-11-11 20:25] kzorba opened #55 "Question: Matching with grains in Ansible and Pillar rosters"
Hi Mircea,

using the ansible roster I managed to have host groupings and be able to use them in salt-sproxy target selections (eg salt-sproxy -N FOO --preview-targets works as expected).

However using static grains I didn't manage to perform a match using -G '<grain>:<value>' with both ansible and pillar rosters. Is this still not implemented?

Thanks,
Kostas

PS: I had a look at the code (eg _r

[2019-11-13 11:36] mirceaulinic commented on #55
Hi @kzorba. That's a good question. The Ansible Roster currently doesn't do anything on the Grains, so it doesn't match anything due to their nature (which depends on many things, and can become very complicated). However, it might be doable to have matching on the static Grains. I'll mark this as a feature request and I'll try to implement it soon. Cheers!

[2019-11-16 20:00] kzorba commented on #55
Yes, matching on static Grains would give good extra functionality for target selection. If you can do that for pillar roster (or netbox, haven't checked into that) that would be great!
Also, is there a way to perform nodegroup arrangement/selection using the pillar roster? You can do that with ansible roster and the hierarchical example you describe in your documentation.

[2019-11-16 22:03] kzorba opened #57 "Highstate errors"
I have set up pillar and a state. Relevant files:

**/etc/salt/master**

[code]
**/etc/salt/inventory**
[code]

**/etc/salt/states/bgp_announcements/init.sls**
[code]
**/etc/salt/states/top.sls**

[code]

**Steps To Reproduce**
Running state.apply with the state as the argument works as expected

[code]

Running state.apply with no arguments (highstate) fails with the following exceptions:

[code]

[2019-12-08 18:03] mirceaulinic commented on #57
Hey @kzorba - sorry I've missed this one! Can you give #59 a try to make sure it fixes the issue?

[2019-12-09 11:17] mirceaulinic commented on #55
FYI: Not directly related to the core issue here, but maybe #60 helps with some clarification on managing static Grains.

[2019-12-09 19:20] kzorba commented on #57
Hi @mirceaulinic , I confirm that your patch works. Highstate works when I replaced proxy.py runner with #59

[2019-12-09 19:55] kzorba commented on #55
So, defining static grains like mentioned in #60 would make matching with grains possible in salt-sproxy (using -G)?

[2019-12-09 20:49] mirceaulinic commented on #55
#60 would help in this direction, but it is not sufficient on itself (i.e., it only builds the Grains); I have another branch I'm working for the counter-part that'd allow `-G` targeting. Hope to have this done by the end of the week. :smile:

[2019-12-10 08:58] #57 closed

[2019-12-11 15:20] mirceaulinic commented on #55
Hey @kzorba - can you give #61 a try. Check out the document in the PR https://github.com/mirceaulinic/salt-sproxy/blob/c363aaf06ba47baf100da66571540144f1d700a6/docs/targeting.rst as well as https://salt-sproxy.readthedocs.io/en/develop/grains.html and https://salt-sproxy.readthedocs.io/en/develop/roster.html#configuring-static-grains for more details. Feel free to ask if you have any questions.

[2019-12-12 23:09] mirceaulinic opened #62 "CLI options wishlist"
Listing here some CLI options I think it'd make sense to have:

- `--states-dir`
- `--file-root`
- `--pillar-root`
- `--return`, `--return_config`, and `--return_kwargs`
- `--module-dirs`
- replace `--sync` with `--static`
- `--async`
- `--quiet`
- `--failhard`
- `--summary`
- `--hide-timeout`
- `--batch-wait`
- `--show-jid`
- `--jid`
- `--verbose`
- `--progress`
- `--config-dump`

[2019-12-20 17:38] mirceaulinic commented on #55
I went ahead a merged #61. If you wanna take a look, check this document out https://salt-sproxy.readthedocs.io/en/develop/targeting.html (and perhaps these two new options too: [--invasive-targeting](https://salt-sproxy.readthedocs.io/en/develop/opts.html#cmdoption-invasive-targeting) and [--preload-targeting](https://salt-sproxy.readthedocs.io/en/develop/opts.html#cmdoption-preload-targeting)).

[2019-12-21 22:29] kzorba commented on #55
Hi @mirceaulinic, I built my own docker image using your develop branch and I get the following exception (salt version 2019.2.2):

[code]

Hopefully I am not doing anything stupid...

[2019-12-23 16:55] mirceaulinic commented on #55
Oops, my bad - I've renamed the `--sync` option to `--static`, and left something behind, now fixed via #67. Can you re-build your container using the develop branch and try again? Cheers!

[2020-01-03 12:46] mirceaulinic commented on #34
Closed via https://github.com/mirceaulinic/salt-sproxy/pull/68

[2020-01-03 12:46] #34 closed

[2020-01-03 12:48] mirceaulinic commented on #37
:heavy_check_mark: #68

[2020-01-03 12:48] #37 closed

[2020-01-03 12:48] mirceaulinic commented on #36
:heavy_check_mark: #68

[2020-01-03 12:48] #36 closed

[2020-02-12 16:11] vangourd opened #82 "salt_sproxy cli typo import error"
**Describe the bug**
An "s" is missing from the `from salt.utils.file import fopen` line causing a double import error breaking invocation.

**Steps To Reproduce**
- Install from pip3
- Invocate from command line with any argument

**Expected behavior**
[code]

**Versions Report**
Print the output from ``salt-sproxy -V`` inside the backticks below:
Using pip list because `salt-sproxy -V` results i

[2020-02-13 15:49] #82 closed

[2020-02-18 09:55] mirceaulinic commented on #55
I believe this should be fixed by now, will release version 2020.2.0 in a few days. Of course, please feel free to reopen otherwise and we'll look into it.

[2020-02-18 09:55] #55 closed

[2020-02-19 16:15] kzorba commented on #55
Hello @mirceaulinic , really sorry for my disappearance I had in my to-do list to provide input for this but was overwhelmed with other tasks.
I built a docker container in my environment with latest versions:

[code]
I tested pillar and ansible rosters with various combinations. I confirm things are working **except** `Grain PCRE` `-P` queries on static grains.

To reproduce, here is my test ansi

[2020-02-19 16:37] mirceaulinic commented on #55
No worries. Great catch, Kostas! Yes, would you be able to PR that? Then
I'll release a new version tomorrow. Thanks!

On Wed, 19 Feb 2020, 16:15 Kostas Zorbadelos, <notifications@github.com>
wrote:

[2020-02-21 21:08] vangourd opened #91 "Question: Is globbing supported for pillar rosters?"
Versions:
`salt-sproxy 2020.2.0`
`Salt: 3000`

I have a pillar that looks like this.

**top.sls:**
[code]
**proxy.sls:**
[code]

**devices.sls**
[code]

My `/etc/salt/master` has the following section:
[code]

However if I run
`sudo salt-sproxy '*' test.ping`
[code]

Am I doing something wrong?

This snippet from https://salt-sproxy.readthedocs.io/en/latest/roster.html
![image](https://user-images

[2020-02-22 00:01] mirceaulinic commented on #91
Hey @vangourd - it looks like you have `roster_file: pillar` in the master config, can you try with `roster: pillar` instead? Cheers!

[2020-02-22 02:51] vangourd commented on #91
Works perfectly now!

Just to clarify I edited my `/etc/salt/master`  to have `roster: pillar` instead of `roster_file: pillar` and it worked right away.

[2020-02-22 02:52] #91 closed

[2020-04-14 13:34] n-holmstedt opened #111 "Roster Netbox calling filter method w/o kwargs."
First, i've only dabbled with salt and netbox for a couple of days. Don't really know if this is a salt-sproxy issue or a salt issue?

The netbox runner function, "targets", uses the salt-module netbox's filter-method without key-word arguments. When running, this causes an error in the underlaying pynetbox filter_ method which requires kwargs.

or using the provided example without kwargs:

  Fil

[2020-04-14 13:55] mirceaulinic commented on #111
Hi @n-holmstedt. Can you re-run with [`--sync-modules`](https://salt-sproxy.readthedocs.io/en/latest/opts.html#cmdoption-sync-modules), i.e., `salt-sproxy -l debug ti* --preview-target --sync-modules` and confirm it works well?

[2020-04-14 14:38] n-holmstedt commented on #111
Yup. Seems to work.

[DEBUG   ] LazyLoaded nested.output
- ti430940400e460
[INFO    ] Runner completed: 20200414142944986224
[DEBUG   ] Closing IPCMessageClient instance
[DEBUG   ] Runner return: ['ti430940400e460']

Love the blog and your other work btw. Looking to replace some in-house company backend polling 100k dumb network elements and looking into salt atm.

[2020-04-15 09:46] n-holmstedt opened #113 "Question: unexpected kwargs in netmiko ConnectionHandler."
Hello again. Question regarding kwargs used in the netmiko_px proxy-module.

`    proxy_dict = opts.get('proxy', {})`
` ...`
`    log.info(netmiko_connection_args)`

This causes grains data, as well as pillar data, to be loaded, and i'm not sure why.

S5352C-EI'}, 'device_role': {'id': 1, 'name': 'Aggregation', 'slug': 'aggregation'}, 'tenant': None, 'platform': None, 'serial': '12325123123', 'ass

[2020-04-15 10:14] mirceaulinic commented on #113
Hi @n-holmstedt. I think this is a small bug I suspected for some time. Would you be able to patch it locally and confirm if that fixes it? After this line https://github.com/mirceaulinic/salt-sproxy/blob/develop/salt_sproxy/_runners/proxy.py insert a similar one `self.opts['pillar']['proxy'].pop('grains', None)`. Curious if that's fixing it

[2020-04-15 10:46] n-holmstedt commented on #113
The actual line seems to been removed in the link, but i added it where i'd expect and it seems to work fine!

[2020-04-15 10:59] mirceaulinic commented on #113
Oh right, this is the line I was referring to: https://github.com/mirceaulinic/salt-sproxy/blob/develop/salt_sproxy/_runners/proxy.py#L283 - is this what you were looking at?

[2020-04-17 08:10] #113 closed

[2020-04-17 10:50] mirceaulinic commented on #111
Hey @n-holmstedt - are you able to try the code from #112 and confirm it works fine for you (without running with the `--sync-modules` option?

[2020-04-20 08:07] #111 closed

[2020-04-23 13:54] n-holmstedt opened #119 "Question: netbox.create_interface issue."
Don't know if this is more of an issue for the original salt-module, but since i'm using your sproxy-version of it:

The 'create_interface' function seem to missing a required argument. Netbox seem to have implemented interface 'type' as a required field. I reckon this module was implemented for an earlier version of Netbox.

[code]
Adding type to the payload, 'type: virtual', resolves the issue.

[2020-04-27 09:10] mirceaulinic commented on #119
Yes,I think  it also needs to import `RequestError` from pynetbox. Would you be able to open a PR to fix this?

[2020-04-29 13:45] #119 closed

[2020-05-01 15:01] network-shark opened #125 "Question: Error loading grains.napalm: "napalm"""
Hello @mirceaulinic ,

salt-sproxy works fine... , but while debugging another problem I stumbled across the following line in my trace.log.

[code]
The file exists and works.
[code]

[code]

Is this just a cosmetic thing ?

Because I don't waste your time I setup a brand new vm with debian and the "problem" there exists as well.

How did I install ?
1 . Used your install script.
2.  pip install n

[2020-05-04 09:26] mirceaulinic commented on #125
Hi @network-shark. Yes, I think that's normal. It's at trace level so it shouldn't be a concern. If you see the usual NAPALM Grains, e.g., `version`, `os`, `serial` etc. everything works as expected.

[2020-05-04 09:26] #125 closed

[2020-06-03 19:10] leifliddy opened #131 "grains targeting issue with ESXI proxy module"
I'm experiencing a grains targeting issue with esxi proxy minions.

preview targeting works fine:
[code]

however, when I attempt to run an execution module using a ```grain tgt_type```, it results in failure
[code]
I receive the following error output:
[code]
it's failing here in **/usr/local/lib/python3.6/site-packages/salt/proxy/esxi.py**

     proxy_conf = merge(opts.get('proxy', {}), __pillar

[2020-06-04 01:16] leifliddy commented on #131
update: the pending PR
https://github.com/mirceaulinic/salt-sproxy/pull/116/commits/f13905ef2ae36c3e421dd6473e80808a5f2052b3

Fixes this issue. Can you please merge this commit?
BTW, I love this project...it's extremely useful to me. Thanks!

[2020-06-04 17:43] mirceaulinic commented on #131
Thanks for the report!

The commit should be already merged into the develop branch. I'll try to
release a new version soon, that'll include that fix.

On Thu, 4 Jun 2020, 03:16 leifliddy, <notifications@github.com> wrote:

[2020-06-04 17:47] #131 closed

[2020-06-12 09:52] panzerfly opened #134 "AttributeError: 'IPCMessageClient' object has no attribute '_refcount_lock'"
Error in running salt-sproxy docker image even on a dummy device.

Steps to reproduce the behavior:

~# cat /etc/profile | grep sproxy
alias sproxy='f(){ docker run --rm --network host -v /srv/salt/base/pillars:/etc/salt/pillar/ -ti mirceaulinic/salt-sproxy salt-sproxy $@; }; f'

~# cat /srv/salt/base/pillars/top.sls
base:

  'router':
    - dummy

~# cat /srv/salt/base/pillars/dummy.sls
proxy:

[2020-06-16 15:17] dpizzle opened #135 "Remote network device unreachable after upgrade from 2019.10.0 to 2020.3.0"
**Describe the bug**
After upgrading from `2019.10.0` to `2020.3.0`, I am unable to reach Juniper devices using the napalm module. The devices are listed in the salt pillar file as before.

**Steps To Reproduce**

[code]

[code]

Replacing `{{ grains['id'] }}` with `test_switch` in the `napalm_junos.sls` file didn't resolve the issue.

**Versions Report**

[code]

[2020-06-22 15:34] biwhite opened #136 "Unable to get example test.ping working due to name '__opts__' is not defined"
**Describe the bug**
Attempting to make use of sproxy to reduce memory requirements of lots of proxys.  Running through example in documentation and it doesn't work.

**Steps To Reproduce**

[code]

[code]

[code]
**Expected behavior**
test.ping should work.

**Versions Report**
Print the output from ``salt-sproxy -V`` inside the backticks below:

[code]

**Additional context**

Add any other cont

[2020-06-22 19:19] biwhite commented on #136
This looks like it's specific to salt==3001.

Re-creating on a bare Ubuntu 18.04 container, install via .deb packages, or via pip3, salt==3001 breaks, salt==3000 and prior is good.

[code]

[2020-06-25 11:56] mirceaulinic opened #137 "Add option to append the Minion ID to the cache dir (inherited from the Master config)"

[2020-06-25 12:33] mirceaulinic commented on #134
Solved via ccfad4c.

[2020-06-25 12:33] #134 closed

[2020-06-26 13:42] mirceaulinic commented on #135
Hi @dpizzle. Are you still seeing this issue? I've just tried with salt-sproxy 2020.3.0 and Salt 3000.3 and I'm not able to reproduce this. Would you be able to run with `salt-sproxy 'test_switch' test.ping -l debug` and let share the sanitized output (or maybe you'll notice anything that'll point you in the right direction). Cheers!

[2020-06-26 14:21] mirceaulinic commented on #136
Managed to reproduce this. Confirm it's a bug, and reported it upstream as https://github.com/saltstack/salt/issues/57811.

It doesn't look however to affect the behaviour of salt-sproxy, seems more like a cosmetic problem (unless you need the ESXI Proxy Module, probably). If you need to run salt-sproxy with Salt 3001, if that's okay for you, can increase the log level to critical (but you'll of c

[2020-06-30 08:49] dpizzle commented on #135
Hi @mirceaulinic, from the debug output, it appears that communication with the switch is working, however towards the end, I see this line `[DEBUG   ] [host test_switch session-id 57665] parsing netconf v1.0` repeat and then the process being terminated.

[code]

[2020-07-01 10:02] mirceaulinic commented on #135
The `parsing netconf v1.0` messages are generated by ncclient, and when you see many it usually means the device is slowly replying. Have you tried increasing the execution timeout? (either `timeout: <value>` or passing `-t` option on the CLI, e.g., `salt-sproxy 'test_switch' test.ping -t 60`). The default timeout value is 5 seconds (maybe we should increase this value?), which is why the `Termina

[2020-07-01 10:44] mirceaulinic commented on #136
One another way to get rid of this noise without increasing the log level would be disabling the ESXI Grain collection:

[code]

I'll add a recommendation to the docs, it's a good idea to audit what modules you require in your environment in order to optimise the salt-sproxy (and usual PM as well) execution.

[2020-07-02 10:57] mirceaulinic commented on #137
Not to self: tried using `salt.config.apply_minion_config`, but having the _cachedir_ (and others) pointing to a different location than the "Master" (so to say), means that the temporary, standalone PMs will need to fetch that cache from the Master (even though that means it'll have to copy that across from just here to there). Not convinced it's worth the price, but I'll keep this open maybe the

[2020-07-06 12:09] dpizzle commented on #135
Using the 60 second timeout worked as expected and it sounds like a better default value.

The help information still mentions 60 seconds -

[code]

Thank you.

[2020-07-06 13:00] mirceaulinic commented on #135
Thanks for confirming @dpizzle. Yes, I've noticed that, should be fixed via #144.

[2020-07-06 13:00] #135 closed

[2020-07-10 16:47] biwhite opened #149 "targetting cached pillar data doesn't appear to be working."
**Describe the bug**
Targetting using cached pillar isn't working
Have populated cache, and can see relevant files in /var/cache/salt/master/minions/_various_/data/pillar.p
Attempting to target using -I 'thepillar:thing' isn't findint it.

**Versions Report**
Print the output from ``salt-sproxy -V`` inside the backticks below:

[code]

**Additional context**
salt-sproxy patched with https://github

[2020-07-10 17:08] biwhite commented on #149
``salt-sproxy -I "roles:j-anycastpeer" -t 60 test.ping --preview-target -l debug`` output as follows:

[code]

[2020-07-13 18:12] mirceaulinic commented on #149
Hey @biwhite - could you check for me real quick if the following works? `salt-sproxy -C "I@roles:j-anycastpeer" -t 60 test.ping --preview-target -l debug`. Cheers.

[2020-07-14 11:23] biwhite commented on #149
This works, and correctly finds all the relevant devices!

[2020-07-14 13:01] mirceaulinic commented on #149
Great, could you apply this patch https://patch-diff.githubusercontent.com/raw/mirceaulinic/salt-sproxy/pull/151.diff from #151 and confirm this fixes the -I targeting?

[2020-07-14 15:08] biwhite commented on #149
Nearly there with your patch, I added line 80 here in _roster/__init__.py which fixes it.

[code]

[2020-07-14 15:31] mirceaulinic commented on #149
Awesome, thanks for confirming.

[2020-07-14 15:56] #149 closed

[2020-07-18 22:53] network-shark opened #158 "salt-sproxy 'r1' network.interface returns local data"
I accidentally ran salt-sproxy 'r1' network.interface surprisingly it does not return false. It returns my local machine data.

[code]

**Steps To Reproduce**
salt-sproxy 'r1' network.interface

returns the network interfaces data from my local machine

**Expected behavior**
salt-sproxy 'r1' network.interface should return not available or false

**Versions Report**
[code]

**Additional context**

[2020-07-19 11:13] mirceaulinic commented on #158
Hi @network-shark. That's expected: you're running [`network.interfaces`](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.network.html#salt.modules.network.interfaces) which returns the interfaces of the machine the (Proxy) Minion is running on, in this case your local machine.
If you want to gather data from the remote device, you'll need to call the appropriate function - for e

[2020-07-19 11:13] #158 closed

[2020-08-04 11:38] mirceaulinic commented on #136
Closing, as the upstream issue has been resolved.

[2020-08-04 11:38] #136 closed

[2020-08-07 11:38] felskrone opened #162 "salt-sproxy fails to parse ansible-roster return"
**Describe the bug**
salt-sproxy fails to evaluate targets from ansible roster

**Steps To Reproduce**
The volumes/config_exchange contains my configs and pillars and get mounted into the container at /mnt. They are externally generated from another container into a shared volume.

[code]
In the container i simply symlink the configs into place, removing the existing master and roster
[code]

Thes

[2020-08-07 15:17] felskrone commented on #162
I got it to work with

[code]

[code]

which is sufficient for me because i just need a flat file of minion_ids i can target and im not going to use salt-ssh in the future.

[2020-08-07 20:54] mirceaulinic commented on #162
I'm seeing some suspicious behaviour, reopening to investigate it soon. Thanks for reporting @felskrone!

[2020-09-06 19:54] nzjc opened #168 "Suggest a minor doc change"
In the docs for `quick_start.rst`

+Tip: When using Juniper devices, you need to enable netconf before Salt can connect to the device. This can be done by simply configuring `set system services netconf ssh`.

When following along at home, with fresh lab kit - it might be really helpful to mention that netconf needs to be enabled for the junos proxy/ napalm to actually work. This is probably true

[2020-09-08 07:35] felskrone opened #169 "Pillar targeting broken"
**Describe the bug**
A Minion cant be targeted by using pillars.

**Steps To Reproduce**
A Minion has the role "core" assigned.
[code]

But it cant be targeted using -I parameter of salt-sproxy.

[code]
[code]

**Expected behavior**
The minion responds with "True".

**Versions Report**
[code]

**Additional context**
Pillar targeting is also not mentioned here: https://salt-sproxy.readthedocs.io/en

[2020-09-09 10:49] mirceaulinic commented on #169
Hi @felskrone. Thanks for reporting this.

Could you check if the following works: ``salt-sproxy --preview-target -C "I@role:core"``?
And yes, `-I` should be supported on 2020.7.0 (it was only added in a more recent version, and I probably forgot to add it to https://salt-sproxy.readthedocs.io/en/latest/targeting.html).

[2020-09-09 11:01] mirceaulinic commented on #169
Two more questions @felskrone:

- Is `cr-edge01.mydomain.com` a running Proxy Minion, or a device managed through purely sproxy?
- Do you use any Roster?

[2020-09-09 11:05] mirceaulinic commented on #168
:wave: @nzjc. I think it'd be best to point the user to read the documentation for the appropriate Proxy Module / underlying library they're using. For example, if someone's using NAPALM, they should refer to https://napalm.readthedocs.io/en/latest/ etc.

That said, it wouldn't however hurt to have a note on the above and the Junos configuration as you suggested. Would you be willing to open a PR

[2020-09-10 14:13] felskrone commented on #169
The command does not work.

[code]

Im using salt-sproxy only with the following roster.

[code]

I had to specify the grains-section to get "salt-sproxy -G" working. But thats a different topic, just clarifying why its in there :)

[2020-09-23 16:00] network-shark opened #170 "[Feature] Traceback handling when connection fails"
Hello @mirceaulinic

**Is your feature request related to a problem? Please describe.**

When running a command against a device which is offline , salt-sproxy returns the traceback (napalm connection ) .

Why not catch the expection and return only the core information ?

As far as I know salt always returns a dict .

Why not return a dict, like salt-ssh does  ?

{'r1': {'stdout': '', 'stderr': '

[2020-09-25 06:00] dependabot-preview[bot] opened #171 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/mirceaulinic) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/mirceaulinic/update-logs/48695977).

[2020-09-25 10:02] #171 closed

[2020-09-25 10:25] mirceaulinic commented on #170
The problem is that salt-sproxy is designed to work with whatever Proxy Module. And the implementation and the way the exceptions are raised differs from one implementation to another (there's no standard way in the Proxy Module code). Similarly, even looking at just one particular Proxy Module, e.g., NAPALM, the exception raised depends from one driver to another. Therefore, an uniform message su

[2020-09-25 10:25] #170 closed

[2020-09-25 10:35] mirceaulinic commented on #169
Hey @felskrone. Sorry for being late to this. One more thing to confirm: could you run the following, in this order, for me please:

1. `salt-sproxy --preview-target -C "I@role:core" --invasive-targeting`
2. `salt-sproxy --preview-target -C "I@role:core"`
3. `salt-sproxy \* test.ping --cache-grains --cache-pillar` (can be any function, not just `test.ping`), followed by `salt-sproxy --preview-targ

[2020-09-29 11:36] mirceaulinic commented on #169
I think you should be good if you execute with ``--cache-pillar`` (and ``--cache-grains``). With https://github.com/mirceaulinic/salt-sproxy/pull/173 I'm defaulting these to True so should maybe help simplifying the usage.

[2020-09-29 18:05] felskrone commented on #169
Of course.

[code]

[2020-10-01 10:49] mirceaulinic commented on #169
Thanks for confirming.

Yes, this is one of the caveats of not running active Minions, am not sure if there's a way to work around that. Open to suggestions though.

This one, however, is a bug probably. I've also noticed some strange behaviour sometimes with ``--invasive-targeting``, I'll take another look.

[2020-10-02 12:32] syntax-terr0r commented on #169
Hi there,

sorry to hijack this thread but I have noticed the same behavior when adding or removing pillars:

Here is an example:
After creating a simple pillar file...
[code]

... and assigning it to the test host...
[code]

... the data is not available with pillar.get
[code]
It is available in pillar.items however.

Running a command with `--cache-grains --cache-pillar` does not change the situ

[2020-10-02 15:45] nzjc commented on #168
Sure - maybe when Hacktober is over!!

On Wed, 9 Sep 2020, at 12:05 PM, Mircea Ulinic wrote:

[2020-10-06 09:45] biwhite commented on #169
I see this also.  --cache-{pillar,grains}, add an item into the pillar and nothing I do seems to ever refresh that cache/pillar with the new item.

Delete the salt cache folder for this node and re-cache with a test.ping and it populates the new files correctly, which then lets me target using the new pillar item

[2020-10-09 09:01] syntax-terr0r opened #176 "custom execution modules not working"
**Describe the bug**
Custom execution modules placed in the `salt://_modules` directory can not be executed.

**Steps To Reproduce**
1) create custom module:
[code]

2) try to run the module:
[code]

**Expected behavior**
Expect the custom module to execute and return "True"

**Versions Report**
[code]

**Additional context**
I followed the documentation for creating custom execution modules here:

[2020-10-09 09:11] mirceaulinic commented on #176
Hi. Can you try with `salt-sproxy cr-testing* example.first --sync-modules`? Alternatively, you can put ``sync_modules: true`` on your Master, or best, have a (scheduled?) `salt-run saltutil.sync_modules`.

[2020-10-09 09:16] mirceaulinic commented on #169
@biwhite @syntax-terr0r could you confirm what Salt versions are you running (a `salt-sproxy -V` would do it)?

I don't think there should also be both pillar.p + grains.p and data.p - sounds like a Salt bug... Out of curiosity, was either of those updated on ``--cache-pillar``? I'll try to reproduce it myself too, and even if it might be an upstream bug, I think we may be able to work around that

[2020-10-09 09:17] syntax-terr0r commented on #176
Of course:
[code]
[code]

Result is the same though.
As I said in the initial statement, none of the other methods for updating or syncing modules that I could find worked either.

[2020-10-09 09:19] mirceaulinic commented on #176
If it doesn't show up in `salt-run saltutil.sync_modules`, it's likely a misconfiguration - you should be able to at least see it in there.

[2020-10-09 09:23] syntax-terr0r commented on #169
This is the version I am running:
[code]

Just as an FYI, there was/is no data.p in my cache
[code]

[2020-10-09 11:13] mirceaulinic commented on #176
@syntax-terr0r could you try #177 to confirm it fixes this? If you're unable to apply the patch, just setting `kwargs['sync_modules'] = sync_modules` on line 199 in `salt_sproxy/cli.py` should normally do it.

[2020-10-09 11:33] syntax-terr0r commented on #176
I can confirm that setting `kwargs['sync_modules'] = sync_modules` fixed it:
[code]

Thanks for the quick fix!

[2020-10-09 11:35] mirceaulinic commented on #169
@syntax-terr0r I can't reproduce your `pillar.get` issue

[code]

[code]

[2020-10-09 12:07] syntax-terr0r commented on #169
That is very interesting.

I just ran the test again with a dummy to make sure that it wasn't a fluke the first time around:
[code]

[code]

[code]

created a fresh top.sls with just the dummy, but no shared.test pillar yet
[code]

Making sure the dummy works and is cached:
[code]
pillar.items now shows:
[code]

Adding shared.test now:
[code]

result:
[code]

tried updating the cache, still no dic

[2020-10-09 12:09] #176 closed

[2020-10-09 12:43] mirceaulinic commented on #169
Is anyone able to test #178 and confirm it fixes the issues you're all seeing? Cheers.

[2020-10-09 13:10] syntax-terr0r commented on #169
That appears to have done it.

Added another test pillar:
[code]

and the new data shows up without having to delete the cache:
[code]

[2020-10-11 01:34] dmacvicar opened #179 "Question: using salt-sproxy as a replacement for salt-ssh"
I have tried to replace my salt-ssh usage with salt-sproxy. This means a plain git repo, with a `Saltfile` like [described here](https://duncan.codes/posts/2016-05-18-using-salt-like-ansible/index.html). I had mixed success.

Changing my Saltfile from:

[code]
to
[code]

Added some paramers to `etc/salt/master`
[code]

For some reason ssh keys and user did not work, so I added root/password to `et

[2020-10-12 13:30] syntax-terr0r commented on #169
Unfortunately I have noticed another issue since the fix in #178
I'm not 100% sure if it's only happening since but it might be related. See below:

I have a minion with the following grains:
[code]

However it seems that not all grain data is correctly processed and available in the sls files

adding another test pillar:
[code]

results in:
[code]

The grains data for the model is not accessible/

[2020-10-12 19:08] mirceaulinic commented on #169
It'd be great if you could check and update here.

[2020-10-13 12:32] syntax-terr0r commented on #169
Ok, so I reverted the patch from #178 and it is still not working.
I'm not sure why it did work before (at least once) then, but at least I found a lead on why it's not working right now.

It seems that the napalm grains (salt/napalm.py) are only merged into the grains dict after the pillars have been rendered:
[code]

I have modified the test.sls like so
[code]
and these are the grains keys avail

[2020-10-14 12:41] mirceaulinic commented on #169
Let me know if you want me to raise a new issue for this.

Yes, @syntax-terr0r, that'd be a separate issue.

@biwhite @felskrone would you also be able to confirm #178 solves the initial issue?

[2020-10-14 12:48] syntax-terr0r opened #181 "napalm grains not available during template rendering"
**Describe the bug**
Grains collected by the napalm.py script are not available during rendering of pillar SLS files

**Steps To Reproduce**
I have a minion with the following grains:
[code]

adding a test pillar:
[code]

result:
[code]

**Expected behavior**
Expect the "bar" pillar data to contain the information of grains['model']

**Versions Report**
[code]

**Additional context**
It seems that

[2020-10-14 13:46] mirceaulinic commented on #179
Hi @dmacvicar. I've never used the Saltfile before, so first things first - let's clarify the `state.apply` issue, which I'm not able to reproduce. I have the following setup:

[code]

``/srv/salt/pillar/top.sls``

[code]

``/srv/salt/pillar/ssh.sls``

[code]

``/etc/salt/master``

[code]

``/etc/salt/roster``

[code]

``/srv/salt/states/top.sls``

[code]

``/srv/salt/states/pkgs.sls``

[code]

``

[2020-10-16 12:24] dmacvicar commented on #179
oh. I got it.

[code]

I did not notice the timeout. `-t 200` and it worked.

[2020-10-16 12:48] dmacvicar commented on #179
Much of the time is spent resolving...

[code]

[2020-10-16 14:57] mirceaulinic commented on #179
Ugh, that's huge. In my testing it was much smaller (under 0.5s, but still not negligible). I seem to recall some issues with this a few years ago, there might be a way to disable collecting the FQDN grain.

[2020-10-16 15:07] mirceaulinic commented on #179
Yep, seems to be this one: https://docs.saltstack.com/en/latest/ref/grains/all/salt.grains.core.html#salt.grains.core.fqdns. I put `enable_fqdns_grains: false` in the Master config, and it did pick it up, and prevented collecting the FQDN Grains. `-t 200` seems excessive though, but guess it's somewhat normal particularly for `state.highstate` and sorts. Wondering if we should enforce (internally)

[2020-10-16 15:34] dmacvicar commented on #179
I think it should keep as "salty" as possible to avoid surprises with defaults.

Everything seems to work now. Is my patch something that fixes anything for you? Should I do a PR?

[2020-10-23 10:51] syntax-terr0r commented on #181
Hey there,
is there anything else I can provide/do in order to get this resolved?
Thanks!

[2020-10-23 10:53] mirceaulinic commented on #179
I think this is fine, if everything works well. I'll leave this thread open however, to hear more thoughts on the following:

[code]

I personally incline to do so (as the `salt` native command does this, IIRC), but at the same time agree on the surprising defaults point.

[2020-10-23 10:55] mirceaulinic commented on #181
I'll let you know if I need anything else when I'll have time to look into it @syntax-terr0r. In the meantime, feel free to give it a try yourself. :)

[2020-10-23 10:56] mirceaulinic commented on #169
Believe this should be fixed, but do reopen if you're still noticing the behaviour.

[2020-10-23 10:56] #169 closed

[2020-10-23 11:07] mirceaulinic opened #182 "Question: should enforce (internally) to -t 0 (i.e., wait till the device replies) on state.* functions?"
state.* typically take a long time to execute, and the run time is probably not often known or immediately obvious. In that case, the command is executed with `-t` to ensure salt-sproxy waits for the reply sufficiently. Now, `-t` is either 0 or a very large value. So I'm wondering if it wouldn't make sense to just default it to 0 natively on state.* function, out of the box?

[2020-10-23 11:08] mirceaulinic commented on #179
Actually, opened #182 for this. Thanks for the report @dmacvicar!

[2020-10-23 13:33] dmacvicar commented on #179
@mirceaulinic It was not clear to me if I need to open a PR with the patch to add the args to the `salt.client.ssh.Single` constructor.
That patch was required to get the command to return anything, otherwise it would return the module exec documentation like if I had called the function with missing arguments.

[2020-10-23 13:44] mirceaulinic commented on #179
Hey @dmacvicar - I'm not sure I'm following, I thought you said it was working fine? But feel free to open a PR regardless, cheers.

[2020-10-23 14:12] dmacvicar commented on #179
@mirceaulinic In order to be able to execute any function with arguments, I need to apply this patch:

[code]

Now, I arrived to this change noticing how `salt-ssh` and `salt-sproxy` construct the object. I am not sure if it is correct or not, but the patch makes things work for me.

[2020-10-23 14:28] mirceaulinic commented on #179
Sorry, I thought you said "everything seems to work now" in https://github.com/mirceaulinic/salt-sproxy/issues/179#issuecomment-710119102 ? Or you were referring to something else?

[2020-10-23 14:58] dmacvicar commented on #179
Once I applied the patch, I got most calls to work, except `state.apply`, which turned to be a timeout.
With a proper timeout, got everything to work, but only if the patch is applied. The original PR description shows the sequence.

[2020-10-23 15:32] mirceaulinic commented on #179
Hrm, interesting... in the above, with the config I shared, I tried with the current `develop` (without the patch you shared) - and it seems to work just fine. Could it be related to the use of the Saltfile?

[2020-10-23 15:42] mirceaulinic commented on #179
Anyhow, yes, please open a PR, cheers. @dmacvicar

[2020-10-25 16:28] #179 closed

[2020-10-25 16:28] dmacvicar commented on #179
PR #185

[2020-10-28 12:19] mirceaulinic commented on #181
@syntax-terr0r can you check #187 and confirm it solves the issue?

[2020-10-28 13:38] mirceaulinic commented on #182
/polls Yes No

[2020-10-28 13:39] mirceaulinic commented on #182
Should enforce (internally) to -t 0 (i.e., wait till the device replies) on state.* functions?

/polls Yes No

[2020-10-28 13:42] mirceaulinic commented on #182
/polls "Yes" "No"

[2020-10-28 13:44] mirceaulinic commented on #182
[![](https://api.gh-polls.com/poll/01ENQQ6DF5HDEZ51K9JA16860P/Yes)](https://api.gh-polls.com/poll/01ENQQ6DF5HDEZ51K9JA16860P/Yes/vote)
[![](https://api.gh-polls.com/poll/01ENQQ6DF5HDEZ51K9JA16860P/No)](https://api.gh-polls.com/poll/01ENQQ6DF5HDEZ51K9JA16860P/No/vote)

[2020-10-28 15:38] mirceaulinic commented on #181
The fix is released in 2020.10.0, just released on PyPI: https://salt-sproxy.readthedocs.io/en/latest/releases/2020.10.0.html. If any issues, feel free to reopen.

[2020-10-29 10:45] syntax-terr0r commented on #181
Hi there,
I was finablly able to test now with the fix in place and unfortunately I can only report a partial fix.
With the same setup as above I now get the model returned by pillar.get but the collection of the napalm grains still happens after template rendering.

That means that the model grain is still not available during template rendering.
As you can see, at first only the default grains a

[2020-10-29 11:38] lacmcg opened #189 "salt-sapi Runner Always Returns "Please specify a Salt function to execute.""
**Describe the bug**
Executing a simple test.ping from salt-sapi always returns "Please specify a Salt function to execute." when executing via the examples provided at https://salt-sproxy.readthedocs.io/en/latest/salt_api.html

**Steps To Reproduce**
General -

Master config:
[code]

top.sls
[code]

nxapi-test.sls
[code]

Execute a POST with the payload as follows:
[code]

Result
[code]

salt-sap

[2020-10-29 11:48] mirceaulinic commented on #189
Thanks for the detailed report @lacmcg. You're correct, the issue is with `salt_function`. I have patched this in #190, would you be able to give it a try and confirm?

[2020-10-29 11:56] lacmcg commented on #189
Thanks for the quick reply! That's more like it 👍

[code]

Excellent!

[2020-10-29 12:02] #189 closed

[2020-10-30 14:34] syntax-terr0r commented on #181
I have to correct myself I wasn't aware that not only the pillars are now being re-compiled but also the templates are rendered again after connection to the minion was made.

I do get the expected output now.
However I also still get the error messages for the failed first template rendering:
[code]

I'm also not exactly sure why the grains are not available for the first rendering. I was under t

[2020-10-30 15:45] mirceaulinic commented on #181
Hey @syntax-terr0r - can you share your pillar file tree? I can see the error, but I also need to see what you have to understand the issue.

[2020-11-02 08:43] syntax-terr0r commented on #181
Hey @mirceaulinic,
here is my pillar tree.
I should probably let you know that I am still in the evaluation phase for our SALT installation and trying to figure out what we can and want to do with it and how best to do it.
That being said, there is a lot of stuff in the pillar tree that I am not actively using at the moment. These are parts of tests I did earlier and stuff that's supposed to be us

[2020-11-02 13:53] mirceaulinic commented on #181
Hi @syntax-terr0r. I see what happens, the error is purely cosmetical, which you can prevent by having `if grains.get('model')` instead - which would work whether you have cached data or not. However, when relying on cached data, it wouldn't hurt to look it up during the initial pillar compilation: #193.

[2020-11-02 14:13] syntax-terr0r commented on #181
Hi @mirceaulinic ,
yes you are right, `grains.get('model')` should work now that the pillar is compiled a second time.
I had that in there initially but changed it when it wasn't working due to the fact the template was only rendered once before the grain was available and thus `target_software_version` was always empty.
To track down the issue I changed it to the above to actually get an error me

[2020-11-02 16:55] #181 closed

[2020-11-19 12:13] mirceaulinic opened #199 "Investigate ways to implement peer communication between SProxy and regular Minions"

[2020-12-03 14:38] aeciopires opened #200 "Improved documentation of the -b BATCH_SIZE option"
**Describe the bug**

Hi, Mircea!

I still use salt-sproxy (in a Docker container) and I realized that by default it connects to 4 network assets in parallel.

Looking at the salt-sproxy options, I saw that you have the option:

[code]

I increased it to 128, but it still connects to only 4 assets.

`alias salt-sproxy='f(){ time docker run --rm --network host -v $SALT_DIR_BASE/master:/etc/salt/mas

[2020-12-03 15:47] mirceaulinic commented on #200
Closed via #201.

[2020-12-03 15:47] #200 closed

[2021-04-14 08:58] network-shark opened #220 "[BUG] NameError: name 'HAS_NETMIKO' is not defined"
Hello @mirceaulinic ,

**Describe the bug**
thanks for your help yesterday in the slack channel. I can now successfully use netmiko.send_command , but I still have no luck running netmiko commands inside an existing napalm session.

salt-sproxy 'myhost' netmiko.send_command 'show version'

successfully return the show version
so netmiko is installed....

**Steps To Reproduce**
salt-sproxy 'myhost'

[2021-04-15 09:04] network-shark commented on #220
Ok , I have troubleshooted it further .  I could not found the commit , but it seems in salt 3000 there was no HAS_NETMIKO inside napalm_mod.py .

After updating to
Salt Version:
           Salt: 3003
    Salt SProxy: 2020.10.2

I'm still not able to get it running, but I think this realtes to salt and not salt-sproxy ?

[code]

[code]

[2021-04-23 16:33] network-shark commented on #220
https://github.com/saltstack/salt/issues/60061

[2021-04-23 16:33] #220 closed

[2021-06-30 07:42] network-shark opened #240 "Salt 3003.1 KeyError __runner__"
Good Morning @mirceaulinic ,

the latest salt updated briked salt sproxy again. If you need more logs. No problem.

**Describe the bug**
Salt sproxy does not run with latest salt version 3003.1

**Steps To Reproduce**
Create a virtual env with salt3003.1 and salt-sproxy

pip install netmiko napalm

**Expected behavior**
It should work :)

**Versions Report**
Print the output from ``salt-sproxy -V`

[2021-06-30 11:02] mirceaulinic commented on #240
Thank you for reporting this @network-shark. I'll take a look soon and try to understand what's changed. Does it work fine with Salt 3003?

[2021-06-30 12:35] mirceaulinic commented on #240
@network-shark could you try #241 and confirm it resolves the issue?

[2021-07-01 09:58] network-shark commented on #240
@mirceaulinic Wow that was quick !!! The patch is working

[2021-07-01 12:16] #240 closed

[2021-07-01 13:11] mirceaulinic commented on #240
Released 2021.6.1 with this fix.

[2021-07-02 10:46] network-shark commented on #240
@mirceaulinic Hey I'm really sorry I just tested your fix with a simple

[code]
, which works, but if I ran a custom module I still receive errors.

[code]

[2021-07-06 10:36] network-shark opened #246 "Salt 3003.1 KeyError __runner__ again"
@mirceaulinic Hey I'm really sorry I just tested your fix with a simple

[code]
, which works, but if I ran a custom module I still receive errors.

[code]
running salt-sproxy --sync-all -c . 'router01' net.facts

[code]

[2021-08-09 10:56] #246 closed

[2021-08-09 11:11] mirceaulinic commented on #246
Hi @network-shark - sorry, been away for a while, and only noticed this issue now... is it fixed? Otherwise, let me know and I'll try to look into it soon(-ish). Cheers!

[2021-08-09 19:00] network-shark commented on #246
@mirceaulinic No problem I thought you are working hard :-) . I don’t know what I did the last time , but today I was not able to recreate  the issue with 3003.1 and your latest version of salt-sproxy that is why I closed it. If I run into it again I will let you know.

[2021-09-21 10:53] cyb0 opened #253 "Cannot run state.apply with sproxy, returns "KeyError: '__opts__'""
**Describe the bug**
[code]
returns a KeyError with the latest version of sproxy.
[code]

**Steps To Reproduce**
/srv/pillar/top.sls:
[code]
/srv/pillar/linux/iad1-saltlab-master-01/sproxy.sls:
[code]
/srv/salt/top.sls:
[code]
/srv/salt/juniper/common/snmpv3.sls:
[code]
If needed I can paste the jinja and static pillar, but they're working fine as I'm able to apply the same if it's running on a sa

[2021-09-21 12:43] cyb0 commented on #253
I just figured out that if I run:
```# salt-sproxy osl1-fw-20 state.apply juniper.common.snmpv3 test=False```
it runs as it should and applies the config.
Any suggestions how to fix that?

[2021-10-14 10:13] gaojuhua525 opened #254 "How to connect to windows"
I want to use winrm to connect to windows

[2021-10-21 17:21] mkhachfeh opened #255 "Can't configure Junos 18.x using napalm"
**Describe the bug**
Hi All,

I was using salt-sproxy for a while with our Juniper-based network, and all was working fine.

I started to find some problems with the new Junos code we use (18.x)

I can communicate with the device (net.connected, net.cli, grains....etc), but I can't configure anything on it via neither net.cli nor net.load_config/template, the device isn't reporting back any diff,

[2021-10-28 13:19] n-holmstedt opened #256 "target_cache default value."
**Describe the bug**
proxy-runner 'target_cache' has default value 'False' while docs say 'True'.

Which is the intended default?

**Expected behavior**
I guess it should be on by default?

**Versions Report**

[code]

**Additional context**
Took me a bit too long to figure out why my netbox-instance was asked at all times.

[2021-10-29 12:29] n-holmstedt opened #257 "Add kwargs to returner data."
**Is your feature request related to a problem? Please describe.**
Using a returner for event based automation. I'd like to see the key-value arguments passed to the salt-function.

**Describe the solution you'd like**
Could one append kwargs to fun_args in the data sent to the returner? I believe napalm does this.

**Describe alternatives you've considered**
forking.

**Additional context**
none

[2021-10-29 18:42] mkhachfeh commented on #255
Just to complete the scenario:
I tested configs via napalm library from the same host toward same Junos gear, and it success

`
sh-3.2# cat conf.set
set vlans vlan888 vlan-id 888
=============================
sh-3.2# cat connect_to_junos.py
import napalm
from pprint import pprint as pp

driver = napalm.get_network_driver('junos')
device = driver(hostname='10.220.1.9', username='myuser', password='

[2021-11-01 08:15] n-holmstedt commented on #257
Sorry, bad explanation,

The command
``
salt-sproxy minion module.function foo bar=baz --return=my_module
``
yields the following data structure to the return module:
[code]

I would like it to do:
[code]

I can make it do exactly that by appending the kwargs to the args list in salt_call before ret_data is populated
[code]

Is that a bit clearer? Bit hard to explain i guess.

[2021-11-03 10:24] n-holmstedt opened #258 "Updated netbox 'filters' persists when using reactor."
**Describe the bug**
This only occurs when using a reactor with the runner.proxy.execute.

The variable 'netbox_filter' in the targets-function of the netbox roster is a reference to the netbox filters in the global master options. When targeting a single device or using grains-filters, the global option object is updated and stored when name or levels is set.

Example:
1: Netbox filter in master

[2021-11-11 15:16] mkhachfeh commented on #255
Today I tested netconf with the rpc's which are generated with salt command, and it worked smoothly:

[code]

So I can ignore that it is netconf problem

[2021-12-20 19:04] mkhachfeh commented on #255
Another update:

I tested the configs using salt minion, not salt-sproxy, and it worked smoothly with no problem.

So seems to me it is a limitation in salt-sproxy only, not on related packages.

[2022-03-10 21:27] network-shark opened #259 "Question: salt-sproxy support returners ?"
Hello @mirceaulinic ,

does salt-sproxy support using --return mycustom returner ?

I'm trying to use net.cli inside my returner , but from the logs I think the connection is already lost and then the execution of the command fails.

[code]

[2022-03-10 22:06] network-shark opened #260 "salt-sproxy works with 3004"
**Describe the bug**
Can't run salt-sproxy

**Steps To Reproduce**
salt-sproxy -c . -L 'csr1000v' net.cli 'show version'

**Expected behavior**
Command should return show version

Error
[code]
**Versions Report**
Print the output from ``salt-sproxy -V`` inside the backticks below:

[code]

**Additional context**
Add any other context about the problem here.

[2022-03-11 08:43] mirceaulinic commented on #259
Hi @network-shark - yes, returners are supported (for instance, see this line `LazyLoaded one_liner.returner` which shows that the `one_liner` Returner module has been loaded). The Returns wasn't invoked as the execution failed; the error appears to be from the IOS driver. Are you trying to capture the traceback via the Returner (I need to know, as that'd be an entirely valid use case).

[2022-03-11 08:46] mirceaulinic commented on #257
Ah, yes, I see it now. Yep, @n-holmstedt - you solution sound good, please feel free to open a PR if you would like to! 😄

[2022-03-11 08:50] mirceaulinic commented on #258
This also sounds like a bug, thanks for reporting @n-holmstedt. And yes, your solution sounds appropriate!

[2022-03-14 10:25] network-shark commented on #259
@mirceaulinic

I'm not sure if I understand your question . This is how I do it.

What I did is .

Created a returner in _returners

one_liner.py

What I want to do is using the returner as a last resort to grep some value from the device config.

salt-sproxy --sync-all  'myhost' mycustommodule.myfucntion --return one_liner -ltrace

[code]

[2022-03-15 22:09] network-shark commented on #259
Fix the napalm function , with this approach . returner is working.

[code]

[2022-04-02 11:24] network-shark commented on #260
The error indicates that ipc socket /home/sharky/salt/var/run/salt/master/master_event_pull.ipc is correct. There is no socket .... . From my understanding this has nothing todo with salt-sproxy . salt-sproxy only calls or loads the master , but I can't find it how this is done? Just the import of import salt.loader ?

[2022-04-02 20:28] network-shark commented on #260
I just found this commit on the salt project.

https://github.com/saltstack/salt/issues/60781

Maybe this error always occurred , but was never visible until 3004 . I can't say if this is a problem of not . If I just don't care about the error. It seems that sproxy is working ...

[2022-04-04 08:42] mirceaulinic commented on #260
Hey @network-shark - thanks for digging into this. I'll reopen this issue, as I'll try to work around that error.. it may not bother you, but it will surely bother me. 🙃

[2022-05-16 14:13] network-shark opened #261 "Salt 3004 custom modules in state module not access able"
Hey @mirceaulinic

**Describe the bug**
I am trying to use a custom module in a state file

Running the execution module via cli does work.

**Steps To Reproduce**
salt-sproxy --sync-all 'xxxx' state.show_sls test_no_custom_mod

[code]

[code]

This worked without issues on Salt 3000 . I can't recreate the problem with a regular minion.

[code]

[2022-05-17 08:41] network-shark commented on #261
After removing if __grains['os']__ == 'ios' :it works .

[code]

Not sure if this ever worked. It is the first time that I use a custom module within a state

[2022-06-03 12:49] network-shark opened #262 "new commandl line parameter --active-minons ?"
Hello @mirceaulinic ,

I often use --batch to limit the size of parallel executions.

From my understanding --b creates a batch of connections and waits until the last one is finished. Then it creates a new batch and goes on....

If one of the remote devices is slow it blocks . I know this is works as designed.

It would be cool if there is an option that ensures always have X connections  ( sprox

[2022-07-28 20:39] network-shark opened #263 "Salt3005rc1 raises AttributeError: 'SaltStandaloneProxy' object has no attribute 'setup_logfile_logger'"
**Describe the bug**
When using the latest salt-sproxy with salt3005rc1 , we got the following error.

[code]

**Steps To Reproduce**
Run salt-sproxy -L 'r1' net.cli 'show version'

**Expected behavior**
Should work without raising an error
[code]

Salt3005 got a logging refactor and set_logfile_logger() is no longer needed from my understanding . The setup is now handled in

salt/utils/parsers.py

[2022-08-04 12:09] mirceaulinic commented on #263
Hi @network-shark - thanks for reporting this.

Let me dig into what's changed in Salt 3005, didn't know they were planning changes around logging.

[2022-10-19 10:52] #263 closed